.nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #141d26;
    /* border-bottom: 1px solid #3ebf0f; */
}
.ul{
    display: flex;
    list-style-type: none;
}
.li{
    padding-right: 1em;
}
.li a{
    color: #ffffff;
}